﻿@model QuanLyDiemHs.Models.KetQua

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>KetQua</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TenHs" class="control-label"></label>
                <input asp-for="TenHs" class="form-control" />
                <span asp-validation-for="TenHs" class="text-danger"></span>
            </div>
         
            <div class="form-group">
                <label asp-for="TenMh" class="control-label"></label>
                <input asp-for="TenMh" class="form-control" />
                <span asp-validation-for="TenMh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiemThi" class="control-label"></label>
                <input asp-for="DiemThi" class="form-control" />
                <span asp-validation-for="DiemThi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
