﻿@model QuanLyDiemHs.Models.KetQua

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>KetQua</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenHs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenHs)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenMh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenMh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiemThi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiemThi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaHs">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
