﻿@model IEnumerable<QuanLyDiemHs.Models.KetQua>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaHs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenHs)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.TenMh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiemThi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaHs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenHs)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TenMh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiemThi)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MaHs">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MaHs">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.MaHs">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
