﻿<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Quản lý điểm</title>

    <!-- Core CSS - Include with every page -->
    <link href="/admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="/admin/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Page-Level Plugin CSS - Blank -->
    <!-- SB Admin CSS - Include with every page -->
    <link href="/admin/css/sb-admin.css" rel="stylesheet">
    <!-- load file ckedirot -->
    <script language="javascript" src="~/Admin/ckeditor/ckeditor.js"></script>
</head>
@await RenderSectionAsync("Scripts", required: false)
<body>

    <div id="wrapper">

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Quản lý học sinh</a>
            </div>
            <!-- /.navbar-header -->
            <div class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="/Home"></i> Trang chủ</a>
                        </li>
                        <li>
                            <a href="/HocSinhs"><i class="fa fa-table fa-fw"></i> Danh sách học sinh</a>
                        </li>
                        <li>
                            <a href="/Monhocs"><i class="fa fa-edit fa-fw"></i> Danh sách Môn học </a>
                        </li>
                        <li>
                            <a href="/KetQuas"><i class="fa fa-edit fa-fw"></i> Bảng điểm </a>
                        </li>
                        <li>
                            <a href="/Users"><i class="fa fa-edit fa-fw"></i> Quản lý Users</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-edit fa-fw"></i> Đăng xuất</a>
                        </li>
                    </ul>
                    <!-- /#side-menu -->
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper" style="padding-top: 20px;">
            <div class="row">
                <div class="col-lg-12">
                    <!-- content here -->
                    @*trong file Layout.cshtml muon do du lieu cua cac view vao dau thi dat tag sau*@
                    @RenderBody()
                    <!-- end content -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- Core Scripts - Include with every page -->
    <script src="/admin/js/jquery-1.10.2.js"></script>
    <script src="/admin/js/bootstrap.min.js"></script>
    <script src="/admin/js/plugins/metisMenu/jquery.metisMenu.js"></script>

    <!-- Page-Level Plugin Scripts - Blank -->
    <!-- SB Admin Scripts - Include with every page -->
    <script src="/admin/js/sb-admin.js"></script>

    <!-- Page-Level Demo Scripts - Blank - Use for reference -->

</body>

</html>
