﻿@model IEnumerable<QuanLyDiemHs.Models.MonHoc>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaMh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenMh)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaMh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenMh)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MaMh">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MaMh">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.MaMh">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
